@page
@model Gamebook.Pages.StartModel
@{
}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>@Model.Location.Title</h1>
            <div class="white">@Model.Location.Description</div>
            <p></p>
            <p>HP: @Model.HP</p>
            <p>Armor: @Model.Armor</p>
            <p>Damage: @Model.Damage</p>
            <p>Diamonds: @Model.Diamonds / 26</p>

            @if(Model.HasArmor) {
                <p>You have equipped armor</p>
            }
            @if(Model.HasSword) {
                <p>You are holding sword in your hand</p>
            }
            <div class="m-1">
                @if (Model.ID == 3 && !Model.HasPickaxe)
                {
                    <p class="alert alert-danger w-50" role="alert">You have forgotten to take your pickaxe, return to home.</p>
                }

                @foreach (var target in Model.Targets)
                {
                    if (!String.IsNullOrEmpty(target.Description))
                    {
                        if (Model.EnemyHP == 0)
                        {
                            <p><a class="btn btn-secondary" asp-page="Game" asp-route-id="@target.Target">@target.Description</a></p>
                        }
                    }
                }

                @if (Model.ID == 0 && !Model.HasArmor && !Model.HasSword && Model.Diamonds == 26)
                {
                    <p><a class="btn btn-success m-auto" asp-page="Game" asp-page-handler="Armor" asp-route-id="@Model.ID" asp-route-armor="@Model.HasArmor" asp-route-sword="@Model.HasSword">Craft and take equipment</a></p>
                }

                @if (Model.ID == 0 && !Model.HasPickaxe)
                {
                    <p><a class="btn btn-success m-auto" asp-page="Game" asp-page-handler="Pickaxe" asp-route-id="@Model.ID" asp-route-pickaxe="@Model.HasPickaxe">Take Pickaxe</a></p>
                }

                @if (Model.ID == 3 && Model.Diamonds < 26 && Model.HasPickaxe)
                {
                    <p><a class="btn btn-success m-auto" asp-page="Game" asp-page-handler="Diamonds" asp-route-id="@Model.ID" asp-route-diamond="@Model.Diamonds">Mine Diamond</a></p>
                }

                @if (Model.ID == 4 && Model.EnemyHP != 0 || Model.ID == 8 && Model.EnemyHP != 0 || Model.ID == 14 && Model.EnemyHP != 0)
                {
                    <p><a class="btn btn-success m-auto" asp-page="Game" asp-page-handler="Attack" asp-route-id="@Model.ID" asp-route-name="@Model.EnemyName" asp-route-hp="@Model.EnemyHP" asp-route-damage="@Model.EnemyDamage">Attack</a></p>
                }

                @if (Model.ID == 14 && Model.EnemyName == "Dragon" && Model.EnemyHP == 0)
                {
                    <p><a class="btn btn-success m-auto" asp-page="Game" asp-page-handler="Finish">Finish him!</a></p>
                }

                @if (Model.ID == 6 && Model.Armor < 100 || Model.HP < 100)
                {
                    <p><a class="btn btn-success m-auto" asp-page="Game" asp-page-handler="HealRepair" asp-route-id="@Model.ID">Heal and repair yourself</a></p>
                }

                <p><a class="btn btn-danger m-auto" asp-page="Index">Exit game</a></p>
            </div>
        </div>
        <div class="col-6 text-center">
            @{
                switch (Model.ID)
                {
                    case 0://ID lokace
                        <img class="image" src="~/lib/images/home.png" /> //obrázek lokace
                        break;
                    case 1:
                        <img class="image" src="~/lib/images/road.png" />
                        break;
                    case 5:
                        <img class="image" src="~/lib/images/village.png" />
                        break;
                    case 11:
                        <img class="image" src="~/lib/images/nether ow.png" />
                        break;
                    case 12:
                        <img class="image" src="~/lib/images/village house.png" />
                        break;
                    default:
                        break;
                }
            }
        </div>
        <div class="col">
            @if (Model.ID == 4 || Model.ID == 8 || Model.ID == 9 || Model.ID == 14) //enemy staty
            {
                <h1>@Model.EnemyName</h1>
                <p>Enemy HP: @Model.EnemyHP</p>
                <p>Enemy Damage: @Model.EnemyDamage</p>
            }
    </div>
    </div>
</div>