@page
@model Gamebook.Pages.StartModel
@{
}
@{
    /*
    <h1>@Model.Location.Title</h1>
    <div>@Model.Location.Description</div>
    <div class="m-1">
        @foreach (var target in Model.Targets)
        {
            @if (String.IsNullOrEmpty(target.TargetSpecialPage))
            {
                <a class="btn btn-secondary" asp-page="Place" asp-route-id="@target.To">@target.Description</a>
            }
            else
            {
                <a class="btn btn-secondary" asp-page="@target.TargetSpecialPage" asp-route-id="@target.To">@target.Description</a>
            }
        }
    </div>
    */
}

<h1>Home</h1>
<h1>@Model.Location.Title</h1>
<div>@Model.Location.Description</div>
<p>HP: @Model.HP</p>
<p>Armor: @Model.Armor</p>
<p>Damage: @Model.Damage</p>
@if(Model.HasArmor) {
    <p>You have equiped armor</p>
}
@if(Model.HasSword) {
    <p>You are holding sword in your hand</p>
}
@if (!Model.HasArmor && !Model.HasSword)
{
    <a class="btn btn-success m-auto" asp-page="Start" asp-page-handler="Armor" asp-route-armor="@Model.HasArmor" asp-route-sword="@Model.HasSword">Take equipment</a>
}